footer
  .container.text-center
    p.pull-left © 2018 NodeTube

    a.pull-left(style="color:#aaa;margin-right:10px;" href="/termsofservice") Terms Of Service

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://gab.com/") Gab

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://twitter.com/") Twitter

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://facebook.com/") Facebook


